.fira-sans-thin {
    font-family: "Fira Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  header{
    line-height: 1.5;
    letter-spacing: 1px;
}
header a{
    text-decoration: none;
}
header .titulo{
    font-size: 2rem;
    text-align: center;
    background-color: rgba(181, 101, 4, 0.689);
    margin: auto;
    padding-top: 10px;
    margin-top: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: white;
}
nav {
    
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.nav-enlace{
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    background-color: rgb(214, 161, 95);
}
.nav-enlace:hover{
    background-color: bisque;
    color: black;
}
main{
   padding-top: 20px;
   font-size: 1.1rem;
}
body {
    letter-spacing: 1px;
    padding-bottom: 0px;
    min-height: 100%;
}
.titulo span{
    font-size: 1,5rem;
}
.imagen_lucia{
    max-width: 10rem; 
    border-radius: 35%; 
    border: 2px solid rgb(225, 199, 168, 0.947);
    box-shadow: 0 4px 8px rgb(0, 0, 0); 
    object-fit: cover;
}

.sobre_mi{
    display: flex;
    flex-direction:column;
    margin-right: 20rem;
    padding: 5rem;
}
.lista{
    padding-left: 35%;
    padding-right: 20%;
}
.formulario{
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: rgb(219, 156, 79);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0);
}
.pie{
height: 100%;  
margin-top: 1rem;  
}
@media(min-width:500px) {
    .pie{
        font-size: 0.5rem;
    }
    .imagen_lucia{
        max-width: 10rem ;
    }
}
@media(min-width:770px) {
    .pie{
        font-size: 2rem;
    }
    .imagen_lucia{
        max-width: 15rem ;
    }
}
@media(min-width:1000px) {
    .imagen_lucia{
        max-width: 20rem ;
    }
}
.contenedor{
    width: 100%;
    height: 100%;
}
.posicion{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5.5rem;
    margin-top: auto;
    
}
.tamaño_titulo{
    font-size: 2rem;
}

@media(min-width:1000px) {
    .tamaño_titulo{
        font-size: 3rem;
    }  
}
@media(min-width:1500px) {
    .tamaño_titulo{
        font-size: 4rem;
    }  
}
@media(min-width:770px) {
    .tamaño_links{
        font-size: 2rem;
    }  
}
.tamaño_links{
    font-size: 1rem;
}  
.texto{
font-size: 0.8rem;
}
@media(min-width:500px) {
    .texto{
        font-size: 1rem;
    }  
}
@media(min-width:1250px) {
    .texto{
        font-size: 1.2rem;
    }  
}
